# input-method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export INPUT_METHOD=fcitx
export SDL_IM_MODULE=fcitx

# theme-related
export GTK_THEME=Adwaita:dark
export QT_STYLE_OVERRIDE=adwaita-dark
export XDG_CURRENT_DESKTOP=Unity
export QT_QPA_PLATFORMTHEME=gtk2
