/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  font: "Fira Nerd Font Mono 14";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "themes/sidetab-nord.rasi"
